.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -.25rem;
  margin-left: -.25rem; }

.col-3,
.col-4,
.col-6 {
  position: relative;
  width: 100%;
  padding-right: .25rem;
  padding-left: .25rem; }

.col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333333%;
          flex: 0 0 33.333333%;
  max-width: 33.333333%; }

.col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%; }

@media (max-width: 575.98px) {
  .row-xs-only {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -.25rem;
    margin-left: -.25rem; }
  .col-xs-only-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    padding-right: .25rem;
    padding-left: .25rem; } }

@media (min-width: 576px) {
  .row,
  .row-sm {
    margin-right: -.5rem;
    margin-left: -.5rem; }
  .row-sm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .col-3,
  .col-4,
  .col-6,
  .col-sm-3,
  .col-sm-6 {
    padding-right: .5rem;
    padding-left: .5rem; }
  .col-sm-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%; }
  .col-sm-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%; } }

.homepage-content {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-top: 1rem; }
  @media (min-width: 768px) {
    .homepage-content {
      margin: 3rem auto 0 auto; } }

.main-nav a {
  text-decoration: none; }

.icon-header {
  position: relative;
  margin: 0 0 0 1.5rem;
  padding: 0;
  line-height: 1;
  color: #666;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  font-size: .75rem;
  letter-spacing: .05rem; }
  .icon-header:before {
    display: block;
    content: '';
    position: absolute;
    top: -0.2rem;
    left: -1.5rem;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ff1212;
    background-size: cover; }
  .icon-header.resume-icon:before {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200"><path d="M109.946,52.151l-0.9-1.085-0.905-.9-0.9-1.085-3.255-2.894-1.319,2.742,2.224,1.6,0.723,0.9,0.723,0.722,0.723,0.9L70.877,63.56,71.057,62.1l0.18-1.432L71.6,59.219l0.361-1.461,0.361,0.2h1.085l0.363-.2L100.9,49.8h0.181l0.18-.181h0.181l2.532-3.437L103.8,46l-0.181-.361-0.362-.182-0.181-.181V44.556L102.35,43.11l-1.265-1.085-1.266-.543H98.372L71.418,49.258l-1.265.724-0.9,1.265-0.181,1.628L69.248,54.5v0.18l0.181,0.377v0.165l0.181,0.2-0.542,2.336-0.361,2.17L68.344,62.1l-0.18,2.366L31.988,75.134l24.6,83.385L168.012,125.77l-24.6-83.565-33.464,9.946h0Z" style="fill:white;"/></svg>'); }
  .icon-header.projects-icon:before {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200"><path d="M143.784,68.108a45.793,45.793,0,0,1-5.1,17.146c-0.17.3-16.7,29.974-16.7,48.517l-0.561,5.488c-0.894,3.662-2.757,5.521-5.55,5.521H84.122c-2.782,0-4.65-1.859-5.546-5.521l-0.562-5.488c0-18.543-16.528-48.22-16.561-48.517a43.646,43.646,0,0,1-5.24-17.146l-0.187-4.05a43.973,43.973,0,1,1,87.946,0ZM80.015,151.1a4.017,4.017,0,0,1,4.065-3.964h31.84a3.971,3.971,0,1,1,0,7.94,3.972,3.972,0,1,1,0,7.942,3.974,3.974,0,1,1,0,7.946H84.079a3.974,3.974,0,1,1,0-7.946,3.972,3.972,0,1,1,0-7.942A4.022,4.022,0,0,1,80.015,151.1ZM100,178.975a15.792,15.792,0,0,1-12.75-6.471h25.5A15.786,15.786,0,0,1,100,178.975Z" style="fill:white;"/></svg>'); }
  .icon-header.art-icon:before {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200"><path d="M124.494,39.021c9.259-.26,13.136,1.589,18.744,3.934,8.9,18.376-9.023,28.5-15.512,39.338,6.071-2.815,24.591-17.2,27.792-16.391,5.2,1.065,7.841,5.335,7.756,11.8-2.607,6.235-6.722,13.311-12.927,15.735v0.656c4.6-.659,10.958-2.578,14.866,0,1.95,1.639,2.053,3.414,1.939,7.212-5.283,10.285-30.192,29.276-41.365,33.437v1.311c13.111-3.224,25.985-13.989,42.011-11.146,2.613,10.215-19.276,32.229-27.792,34.093l0.647-1.967c6.723-6.619,12.378-14.678,17.45-22.947-15.056,3.65-33.606,21.75-51.706,14.424q-0.323-.655-0.646-1.311c0.145-9.4,5.5-12.491,9.695-17.7-10.1,4.556-20.281,12.276-33.609,9.179l-2.585-2.623c0.076-8.786,4.624-11.49,8.4-16.391-14.832,1.992-22.55,3.691-31.67-5.245-11.071,4.183-36.674,16.038-43.3.656-1.3-4.141-.967-7.488,0-11.8C23.56,89.447,54.04,89.942,70.2,81.636,91.683,70.6,104.4,50.988,124.494,39.021Z" style="fill:white;"/></svg>'); }
  @media (min-width: 495px) {
    .icon-header {
      margin-left: 2rem;
      font-size: 1.125rem; }
      .icon-header:before {
        left: -2rem;
        width: 24px;
        height: 24px; } }

.tabs {
  text-align: center; }

.tab {
  display: inline-block;
  margin-right: .5rem;
  line-height: 2rem; }
  .tab span {
    position: relative; }
  .tab:last-child {
    margin-right: 0; }
  .tab.selected span:after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    height: 3px;
    width: 100%;
    background-color: #ff1212;
    border-radius: 2px; }
  @media (min-width: 495px) {
    .tab {
      margin-right: 3rem; }
      .tab.selected span:after {
        height: 4px;
        border-radius: 4px; } }

.contact-nav {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  text-align: center;
  margin-top: 1rem; }
  .contact-nav img {
    display: block;
    max-height: 40px;
    vertical-align: middle; }
  .contact-nav .linkedin {
    height: 14px; }
  .contact-nav .github {
    height: 20px; }
  .contact-nav address,
  .contact-nav a {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 1rem .5rem; }
  .contact-nav address {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-style: normal;
    font-size: .75rem; }
  .contact-nav a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase; }
  @media (min-width: 768px) {
    .contact-nav {
      -webkit-box-ordinal-group: 1;
          -ms-flex-order: 0;
              order: 0;
      margin: 0 0 4rem 0; }
      .contact-nav address,
      .contact-nav a {
        margin: 0 1rem;
        padding: 1rem .5rem; } }

.title-logo {
  display: inline-block;
  position: relative;
  padding-left: 4rem;
  text-align: left;
  color: #000;
  text-decoration: none; }
  .title-logo img {
    width: 276px; }
  .title-logo h1 {
    margin: 0; }
  .title-logo .name {
    display: block;
    margin: 0;
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 300;
    margin-left: -.15rem; }
  .title-logo .title {
    display: block;
    margin: 0;
    font-size: .875rem;
    line-height: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .05rem; }
  .title-logo:before {
    display: block;
    content: '';
    position: absolute;
    top: .2rem;
    left: 0;
    width: 3.25rem;
    height: 3.25rem;
    border-radius: 50%;
    background-color: #ff1212;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200"><path d="M84.519,91.9q-8.84-13.134-13.85-20.994-4.972-7.866-7.1-11.77c-1.431-2.607-2.562-4.912-3.406-6.9q-3.028-7.164-.285-13.48,2.713-6.329,10.309-9.54c5.048-2.139,9.735-2.41,14.015-.782q6.465,2.417,9.494,9.583c0.844,1.991,1.7,4.4,2.593,7.235s2.065,7.264,3.526,13.292q2.17,9.044,5.47,24.549,3.255,15.509,8.439,40.992l-5.592,2.374Q93.4,105.022,84.519,91.9Zm22.712,56.771a17.72,17.72,0,0,1,32.762-.257,16.128,16.128,0,0,1,0,13.277,18.6,18.6,0,0,1-23.088,9.8,16.077,16.077,0,0,1-9.554-9.238A17.071,17.071,0,0,1,107.231,148.671Z" style="fill:white;"/></svg>');
    background-size: 100% 100%; }
  .title-logo:after {
    display: block;
    content: '';
    position: absolute;
    top: 3.4rem;
    left: .55rem;
    width: 2.5rem;
    height: .2rem;
    border-radius: 50%;
    background-color: #ccc;
    z-index: -1; }

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
    height: 3.25em; }
  16% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    height: 3.25em; }
  26% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    height: 2em; }
  35% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    height: 3.25em; }
  43% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    height: 2.5em; }
  53% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    height: 3.25em; }
  62% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    height: 3em; }
  70% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    height: 3.25em; }
  78% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
    height: 3.25em; }
  85% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
    height: 3.25em; }
  92% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
    height: 3.25em; }
  96% {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
    height: 3.25em; }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    height: 3.25em; } }

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
    height: 3.25em; }
  16% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    height: 3.25em; }
  26% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    height: 2em; }
  35% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    height: 3.25em; }
  43% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    height: 2.5em; }
  53% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    height: 3.25em; }
  62% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    height: 3em; }
  70% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    height: 3.25em; }
  78% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
    height: 3.25em; }
  85% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
    height: 3.25em; }
  92% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
    height: 3.25em; }
  96% {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
    height: 3.25em; }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    height: 3.25em; } }

@-webkit-keyframes bounce-shadow {
  0% {
    width: 0;
    height: 0; }
  16% {
    width: 0;
    height: 0;
    left: .95em; }
  26% {
    width: 2.5em;
    height: .2em;
    left: .45em; }
  35% {
    width: 0;
    height: 0;
    left: .95em; }
  43% {
    width: 2.5em;
    height: .2em;
    left: .45em; }
  53% {
    width: 1em;
    height: .08em;
    left: .95em; }
  62% {
    width: 2.5em;
    height: .2em;
    left: .45em; }
  70% {
    width: 1em;
    height: .08em;
    left: .95em; }
  78% {
    width: 2.5em;
    height: .2em;
    left: .45em; }
  85% {
    width: 1em;
    height: .08em;
    left: .95em; }
  92% {
    width: 2.5em;
    height: .2em;
    left: .45em; }
  96% {
    width: 1em;
    height: .08em;
    left: .95em; }
  100% {
    width: 2.5em;
    height: .2em; } }

@keyframes bounce-shadow {
  0% {
    width: 0;
    height: 0; }
  16% {
    width: 0;
    height: 0;
    left: .95em; }
  26% {
    width: 2.5em;
    height: .2em;
    left: .45em; }
  35% {
    width: 0;
    height: 0;
    left: .95em; }
  43% {
    width: 2.5em;
    height: .2em;
    left: .45em; }
  53% {
    width: 1em;
    height: .08em;
    left: .95em; }
  62% {
    width: 2.5em;
    height: .2em;
    left: .45em; }
  70% {
    width: 1em;
    height: .08em;
    left: .95em; }
  78% {
    width: 2.5em;
    height: .2em;
    left: .45em; }
  85% {
    width: 1em;
    height: .08em;
    left: .95em; }
  92% {
    width: 2.5em;
    height: .2em;
    left: .45em; }
  96% {
    width: 1em;
    height: .08em;
    left: .95em; }
  100% {
    width: 2.5em;
    height: .2em; } }

.bouncy-logo:before {
  -webkit-animation: bounce 1s .6s ease-out;
          animation: bounce 1s .6s ease-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.bouncy-logo:after {
  -webkit-animation: bounce-shadow 1s .6s ease-out;
          animation: bounce-shadow 1s .6s ease-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.nudgable-logo a {
  text-decoration: none;
  color: #000; }

.nudgable-logo:before {
  -webkit-transition: all .2s;
  transition: all .2s; }

.nudgable-logo:hover:before {
  left: -0.2rem;
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg); }

.nudgable-logo:after {
  -webkit-transition: all .2s;
  transition: all .2s; }

.nudgable-logo:hover:after {
  left: .2rem; }

.projects {
  margin-top: 1rem; }

.project {
  margin-bottom: .5rem; }
  .project:after {
    content: '';
    display: block;
    clear: both; }
  .project:last-child {
    margin-bottom: 0; }
  .project .title {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: initial; }
    .project .title a {
      text-decoration: none;
      color: #000; }
    .project .title:before {
      position: absolute;
      display: inline-block;
      content: '\00bb';
      top: 0;
      left: -1rem;
      line-height: 1.15rem;
      color: #ff1212;
      opacity: 0;
      -webkit-transition: all .5s;
      transition: all .5s; }
    .project .title:hover:before, .project .title:focus:before {
      opacity: 1;
      left: -.75rem; }
  .project .description {
    color: #666;
    font-size: .875rem;
    margin: 0 0 .75rem 0; }
    .project .description a {
      font-weight: 900; }
  .project .built-with {
    font-size: .875rem;
    margin-bottom: .75rem;
    color: #666; }
    .project .built-with h5 {
      font-size: .875rem;
      font-weight: normal; }
    .project .built-with a {
      font-weight: 900; }
    .project .built-with ul {
      list-style-type: none;
      padding: 0;
      margin: 0; }
  @media (min-width: 768px) {
    .project .details {
      margin-right: 2rem;
      width: 17rem; } }
  .project .details,
  .project .thumbnails {
    display: inline-block;
    vertical-align: top; }
  .project .thumbnails {
    position: relative;
    width: 300px;
    max-width: 100%;
    margin-bottom: 20px;
    margin-top: 1rem;
    -webkit-transition: margin .5s;
    transition: margin .5s; }
    @media (min-width: 768px) {
      .project .thumbnails {
        margin-top: 0; } }
  .project .nasa-apod-thumbnails {
    margin-bottom: 0; }
  .project .thumbnail {
    max-width: 100%; }
  .project .desktop-thumbnail {
    width: 300px; }
  .project .mobile-thumbnail {
    position: absolute;
    top: 34%;
    right: 10%;
    width: 26%; }
  .project .nasa-apod-mobile-thumbnail {
    top: 8.5%;
    right: auto;
    left: -5%; }
  .project .weather-pwa-mobile-thumbnail {
    top: 30%;
    right: auto;
    left: 5%; }

.image-modal {
  position: fixed;
  z-index: 1;
  padding-top: 1rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000; }
  .image-modal img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem 0 0 0; }
    @media (min-width: 768px) {
      .image-modal img {
        padding: 1rem 3rem 3rem 3rem; } }
  .image-modal .close {
    display: block;
    border: none;
    margin: 0 auto;
    cursor: pointer; }

body.modal-open {
  overflow: hidden; }

.resume {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  max-width: 1080px;
  margin: 1rem auto 0 auto; }
  .resume .box {
    padding-top: 1.5rem;
    margin-top: 1rem;
    background-color: #fff; }
  .resume .header {
    font-size: 1rem;
    color: #000; }
    @media (min-width: 1080px) {
      .resume .header {
        margin-left: -13rem;
        text-align: right;
        width: 10rem;
        margin-bottom: -1.4rem; } }
  .resume h5,
  .resume h6 {
    color: #000; }
  .resume .section {
    margin-bottom: 1rem; }
    .resume .section:last-child {
      margin: 0; }
  .resume ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .resume .pdf {
    position: relative;
    float: right;
    background-color: #ff1212;
    padding: .4rem .2rem .8rem .2rem;
    margin: 0 0 .5rem 2rem;
    border-radius: 2px 8px 2px 2px;
    color: #fff;
    font-size: .5rem;
    font-weight: 900;
    text-decoration: none;
    letter-spacing: .05rem;
    -webkit-box-shadow: 1px 1px 3px #ccc;
            box-shadow: 1px 1px 3px #ccc; }
    .resume .pdf:before, .resume .pdf:after {
      display: block;
      content: '';
      position: absolute; }
    .resume .pdf:before {
      top: 0;
      right: 0;
      width: .3rem;
      height: .3rem;
      border: solid #fff;
      border-width: 0 0 1px 1px; }
    .resume .pdf:after {
      height: 1px;
      width: 8px;
      top: 84%;
      right: 33%;
      background-color: #fff; }
    .resume .pdf span:before, .resume .pdf span:after {
      display: block;
      content: '';
      position: absolute;
      -webkit-transition: all .5s;
      transition: all .5s; }
    .resume .pdf span:before {
      top: 60%;
      right: 40%;
      border: solid #fff;
      border-width: 0 1px 1px 0;
      padding: 2px;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .resume .pdf span:after {
      width: 1px;
      height: 5px;
      top: 60%;
      right: 47%;
      background-color: #fff; }
    .resume .pdf:hover span:before, .resume .pdf:focus span:before {
      -webkit-transform: rotate(45deg) translate(2px, 2px);
              transform: rotate(45deg) translate(2px, 2px); }
    .resume .pdf:hover span:after, .resume .pdf:focus span:after {
      -webkit-transform: translateY(2px);
              transform: translateY(2px); }
  @media (min-width: 768px) {
    .resume {
      margin-top: 3rem; }
      .resume.box {
        padding: 1rem 2.75rem 1.5rem 2.75rem; } }
  .resume p {
    margin: 0; }
  .resume .dates {
    color: #666;
    font-weight: 400;
    font-size: .875rem; }
    .resume .dates:before {
      display: inline;
      content: ', '; }
    @media (min-width: 576px) {
      .resume .dates {
        border-left: 1px solid #666;
        margin-left: .35rem;
        padding: .5rem 0 .5rem .3rem; }
        .resume .dates:before {
          display: none; } }
  .resume .skills h4 {
    color: #000;
    font-size: .875rem; }
  .resume .skills ul {
    margin-bottom: .5rem; }
  .resume .skills .first-column {
    width: 38%; }
  .resume .skills .debugging {
    clear: both; }
  .resume .skill-group {
    width: 28%;
    float: left;
    margin-left: 3%; }
    .resume .skill-group:first-child {
      margin-left: 0; }
  .resume .desktop-skills-list {
    display: none; }
  .resume .experience p {
    margin: 0 0 1rem 0; }
  .resume .experience li {
    position: relative; }
    .resume .experience li:before {
      position: absolute;
      top: 0;
      left: 0;
      content: '\00bb';
      margin-left: -.75rem;
      color: #ff1212;
      line-height: 1.2rem; }
  .resume .experience ul {
    margin-top: 1rem; }
  .resume .education-ringling .view-portfolio {
    margin-top: 1rem; }
  @media (min-width: 576px) {
    .resume .mobile-skills-list {
      display: none; }
    .resume .desktop-skills-list {
      display: block; }
    .resume .experience-LF,
    .resume .education-ringling {
      position: relative; }
      .resume .experience-LF .view-portfolio,
      .resume .education-ringling .view-portfolio {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 0; } }
  .resume .education p {
    margin: 0 0 1rem 0; }
    .resume .education p:last-child {
      margin: 0; }

@media (max-width: 575.98px) {
  .box.resume-content {
    padding: .5rem 1rem 1rem 1rem;
    margin-left: -.5rem;
    margin-right: -.5rem;
    border-radius: 0; }
  .resume .skill-group {
    width: auto;
    float: none; } }

.resume-content {
  font-size: .875rem;
  color: #666;
  max-width: 40rem; }

#sticky-nav {
  display: none; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%; }

@media (min-width: 768px) {
  #sticky-nav {
    display: block;
    width: 200px;
    float: left; }
    #sticky-nav > nav {
      display: block; }
  .portfolio .content {
    padding-left: 220px; } }

.portfolio-nav {
  margin-top: 1rem; }
  .portfolio-nav a {
    color: #000;
    text-decoration: none;
    position: relative;
    display: block; }
    .portfolio-nav a:hover, .portfolio-nav a:focus {
      text-decoration: underline; }
  .portfolio-nav .level-1 {
    font-weight: 600; }
  .portfolio-nav .level-2 a {
    padding: .1rem; }
  .portfolio-nav .level-2.active > a {
    background-color: #666;
    color: #fff;
    padding: .1rem .5rem;
    margin-left: -.5rem;
    border-radius: .25rem; }
  .portfolio-nav .level-3 {
    font-size: .875rem; }
    .portfolio-nav .level-3.active a:before {
      display: inline-block;
      content: '\00bb';
      position: absolute;
      top: 0;
      left: -.75rem;
      line-height: 1rem;
      color: #ff1212; }
  .portfolio-nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .portfolio-nav li ul {
    padding-left: 1rem; }

@media (min-width: 576px) {
  .box.LF-websites {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: linear-gradient(#fff, #eee); } }

.LF-website-thumbnails .thumbnail,
.LF-newsletter-thumbnails .thumbnail {
  margin-bottom: .5rem; }

.LF-logo-images {
  text-align: center; }
  .LF-logo-images .logo {
    background-color: #fff;
    border-radius: 2px;
    margin-bottom: .5rem; }
  .LF-logo-images .LFi-logo {
    padding: 16.6% 5% 10.6% 5%; }
  .LF-logo-images .NRAEF-logo {
    padding: 5% 10%; }
  .LF-logo-images .image-gallery-logo {
    background-color: #292929;
    padding: 5%; }
  @media (min-width: 576px) {
    .LF-logo-images .logo {
      margin-bottom: 1rem; } }

.LF-banner-ads-box {
  overflow: hidden; }

.LF-banner-ads {
  display: grid;
  grid-template-columns: 85% 15%;
  background-color: #fff;
  border-radius: 2px;
  padding: .5rem .5rem 0 .5rem; }
  .LF-banner-ads .skyscraper {
    padding-left: .5rem;
    float: right; }
  .LF-banner-ads .micro-banner {
    margin-top: .5rem; }
  .LF-banner-ads img {
    display: block; }
  .LF-banner-ads .grid {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin-top: .5rem; }
    .LF-banner-ads .grid .column {
      padding: 0 .25rem; }
      .LF-banner-ads .grid .column:first-child {
        padding-left: 0; }
      .LF-banner-ads .grid .column:last-child {
        padding-right: 0; }
  .LF-banner-ads .inset {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-gap: .5rem;
       -moz-column-gap: .5rem;
            column-gap: .5rem;
    margin-top: .5rem; }
    .LF-banner-ads .inset img {
      margin-bottom: .5rem; }
  @media (min-width: 576px) {
    .LF-banner-ads {
      padding: 1rem 1rem 0 1rem; }
      .LF-banner-ads .skyscraper {
        padding-left: 1rem; }
      .LF-banner-ads .grid {
        margin-top: 1rem; }
        .LF-banner-ads .grid .column {
          padding: 0 .5rem; }
      .LF-banner-ads .inset {
        margin-top: 1rem;
        -webkit-column-gap: 1rem;
           -moz-column-gap: 1rem;
                column-gap: 1rem; }
        .LF-banner-ads .inset img {
          margin-bottom: 1rem; }
      .LF-banner-ads .micro-banner {
        margin-top: 1rem; } }

.LF-print-thumbnails {
  margin: 1rem 0 0 0; }

.LF-book-thumbnails {
  background-color: #fff;
  border-radius: 2px;
  padding: .5rem;
  margin-bottom: .5rem; }

.LF-magazine-thumbnails .thumbnail {
  margin-bottom: .5rem; }

.LF-print-magazines {
  clear: both;
  padding-top: 1rem; }

@media (min-width: 576px) {
  .LF-print-books {
    width: 25%;
    float: left; }
  .LF-print-brochures {
    width: 71%;
    float: right; } }

.animation-thumbnails .animation-thumbnail a {
  width: 150px;
  max-width: 40%; }

.animation-thumbnails .animation-thumbnail a {
  display: inline-block; }

.animation-thumbnails .description {
  display: inline-block;
  padding-left: .5rem;
  max-width: 58%;
  vertical-align: top;
  font-size: .875rem; }

.animation-thumbnails h4 {
  margin: 0;
  font-size: .875rem; }

.animation-thumbnails ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 1.125rem; }

@media (min-width: 576px) {
  .animation-thumbnails {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -.5rem;
    margin-left: -.5rem; }
    .animation-thumbnails .description {
      padding-left: 1rem; }
    .animation-thumbnails .animation-thumnail-col {
      position: relative;
      width: 100%;
      padding-right: .5rem;
      padding-left: .5rem;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%;
      max-width: 50%; } }

@media (min-width: 768px) {
  .animation-thumbnails {
    display: block; }
    .animation-thumbnails .animation-thumnail-col {
      -webkit-box-flex: 1;
          -ms-flex: auto;
              flex: auto;
      max-width: none; } }

@media (min-width: 850px) {
  .animation-thumbnails {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .animation-thumbnails .animation-thumnail-col {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%;
      max-width: 50%; } }

.gesture-images {
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 2px;
  background-color: #fff; }
  .gesture-images img {
    display: block;
    margin: 0 auto .5rem auto; }
  @media (min-width: 576px) {
    .gesture-images {
      -webkit-column-count: 5;
         -moz-column-count: 5;
              column-count: 5; }
      .gesture-images img {
        margin-bottom: 1rem; } }

.box.gestures {
  background-color: #fff; }

.still-lifes {
  padding-top: 2rem; }

.still-life-thumbnails .thumbnail {
  margin-bottom: 1rem; }

.ringling-digital-thumbnails .thumbnail {
  margin-bottom: .5rem; }

@media (min-width: 576px) {
  .ringling-digital-thumbnails .thumbnail {
    margin-bottom: 1rem; } }

.digital-images .thumbnail {
  margin-bottom: .5rem; }

@media (min-width: 576px) {
  .digital-images .thumbnail {
    margin-bottom: 1rem; } }

.portfolio {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin: 1rem auto 0 auto; }
  .portfolio img {
    max-width: 100%; }
  .portfolio .section-header {
    margin-bottom: 1rem; }
  .portfolio .level-1-header {
    display: inline-block;
    font-size: 1.125rem;
    font-weight: 400; }
  .portfolio .level-2-header {
    display: inline-block;
    border-left: 2px solid black;
    padding-left: .5rem;
    margin-left: .3rem;
    font-size: .8125rem;
    font-weight: 900;
    text-transform: uppercase; }
  .portfolio .content {
    margin-top: 1rem; }
  .portfolio .box {
    padding-top: 1.25rem; }
  @media (min-width: 576px) {
    .portfolio .level-1-header {
      font-size: 1.375rem; }
    .portfolio .level-2-header {
      font-size: 1rem; } }
  @media (max-width: 575.98px) {
    .portfolio .box {
      padding: .5rem 1rem 1rem 1rem;
      margin-left: -.5rem;
      margin-right: -.5rem;
      margin-bottom: 1px;
      border-radius: 0;
      -webkit-box-shadow: none;
              box-shadow: none; } }
  @media (min-width: 768px) {
    .portfolio {
      margin-top: 3rem; } }

html {
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; }

html,
body {
  min-height: 100%; }

body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', Futura, 'Trebuchet MS', Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  background-image: linear-gradient(177deg, #ccc 1px, rgba(255, 255, 255, 0) 50px), linear-gradient(168deg, rgba(255, 255, 255, 0) 350px, #ccc 450px);
  background-repeat: no-repeat; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: .5rem .5rem 1rem .5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media (min-width: 768px) {
    .container {
      padding: 0 1rem 1rem; } }
  @media (min-width: 992px) {
    .container {
      padding: 0 3rem 3rem; } }

#header {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  text-align: center; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 900; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: .875rem; }

h6 {
  font-size: .875rem; }

.box {
  display: block;
  border-radius: 10px;
  background-color: #eee;
  -webkit-box-shadow: 0 0 20px #ccc;
          box-shadow: 0 0 20px #ccc;
  padding: 1rem 1.5rem 1.5rem 1.5rem;
  margin-bottom: .5rem; }
  @media (min-width: 768px) {
    .box {
      padding: 2rem; } }
  .box.top {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: linear-gradient(#fff, #eee); }

.pill-button {
  background-color: #333;
  color: #ccc;
  text-decoration: none;
  border-radius: 10px;
  padding: 2px 8px;
  text-transform: uppercase;
  font-size: .75rem;
  -webkit-transition: color, background-color .5s;
  transition: color, background-color .5s; }
  .pill-button:hover, .pill-button:focus {
    background-color: #ccc;
    color: #333; }

.thumbnail {
  display: block;
  position: relative;
  background-color: #fff;
  border-radius: 2px;
  padding: .25rem;
  -webkit-box-shadow: 2px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 2px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: all .5s;
  transition: all .5s;
  will-change: box-shadow; }
  .thumbnail img,
  .thumbnail a {
    display: block;
    width: 100%; }
  .thumbnail:before {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transition: all .5s;
    transition: all .5s; }
  .thumbnail:hover, .thumbnail:focus {
    -webkit-box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
            box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5); }
    .thumbnail:hover:before, .thumbnail:focus:before {
      -webkit-box-shadow: 0 0 10px 2px #fff inset;
              box-shadow: 0 0 10px 2px #fff inset; }

#footer {
  text-align: center;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  padding-top: 2rem; }
  @media (min-width: 768px) {
    #footer {
      padding: 3rem 0 1rem 0; } }
  #footer .copyright {
    font-size: .75rem; }

.desktop-only {
  display: none; }

@media (min-width: 576px) {
  .mobile-only {
    display: none; }
  .desktop-only {
    display: block; } }

/*# sourceMappingURL=styles.css.map */