.projects {
	margin-top: 1rem;
}

.project {
	margin-bottom: .5rem;

	&:after {
		content: '';
		display: block;
		clear: both;
	}

	&:last-child {
		margin-bottom: 0;
	}

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	.title {
		position: relative;
		margin: 0;
		padding: 0;
		font-size: 1rem;
		line-height: initial;

		a {
			text-decoration: none;

			@include font-color-primary;
		}

		&:before { // arrow
			position: absolute;
			display: inline-block;
			content: '\00bb';
			top: 0;
			left: -1rem;
			line-height: 1.15rem;
			color: $red;
			opacity: 0;
			transition: all .5s;
		}

		&:hover:before, 
		&:focus:before {  // arrow
			opacity: 1;
			left: -.75rem;
		}
	}

	.description {
		font-size: .875rem;
		margin: 0 0 .75rem 0;

		@include font-color-accent;

		a {
			font-weight: 900;

			@media screen and (prefers-color-scheme: dark) {
				color: darken($dark-mode-font-color, 20%);
			}
		}
	}

	.built-with {
		font-size: .875rem;
		margin-bottom: .75rem;

		@include font-color-accent;

		h4 {
			font-size: .875rem;
			font-weight: normal;
		}

		a {
			font-weight: 900;
		}

		@media screen and (prefers-color-scheme: dark) {
			a {
				color: darken($dark-mode-font-color, 20%);
			}
		}
	}

	.project-sublist {
			font-size: .875rem;

		h4 {
			display: inline-block;
			margin-right: .5rem;
			font-weight: 300;
			font-size: .875rem;
		}

		li {
			margin-top: .25rem;
		}
	}

	.details {
		@media (min-width: $tablet-up) {
			margin-right: 2rem;
			width: 17rem;
		}
	}

	.details,
	.thumbnails {
		display: inline-block;
		vertical-align: top;
	}

	.thumbnails {
		position: relative;
		width: 300px;
		max-width: 100%;
		margin-bottom: 20px;
		margin-top: 1rem;
		transition: margin .5s;

		@media (min-width: $tablet-up) {
			margin-top: 0;
		}
	}

	.nasa-apod-thumbnails {
		margin-bottom: 0;
	}

	.thumbnail {
		max-width: 100%;
	}

	.desktop-thumbnail {
		width: 300px;
	}

	.mobile-thumbnail {
		position: absolute;
		top: 34%;
		right: 10%;
		width: 26%;
	}

	.nasa-apod-mobile-thumbnail {
		top: 8.5%;
		right: auto;
		left: -5%;
	}

	.weather-pwa-mobile-thumbnail {
		top: 30%;
		right: auto;
		left: 5%;

	}
}
