.projects {
	margin-top: 1rem;

	@media (min-width: $tablet-up) {
		margin-top: 2rem;
	}

	@media (min-width: $large-desktop-up) {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-column-gap: .5rem;
		grid-row-gap: .5rem;

		.project {
			margin: 0;
		}
	}
}

.project {
	margin-bottom: .5rem;

	@media (min-width: $tablet-up) {
		display: flex;
		justify-content: space-between;
		max-width: 1000px;
	}

	@media (min-width: $large-desktop-up) {
		max-width: none;
	}

	&:last-child {
		margin-bottom: 0;
	}

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	.title {
		position: relative;
		margin: 0;
		padding: 0;
		font-size: 1rem;
		line-height: initial;

		@media (min-width: $tablet-up) {
			font-size: 1.5rem;
			margin-bottom: .5rem;
		}

		a {
			text-decoration: none;

			@include font-color-primary;
		}

		&:before { // arrow
			position: absolute;
			display: inline-block;
			content: '\00bb';
			top: 0;
			left: -1rem;
			line-height: 1;
			color: $red;
			opacity: 0;
			transition: all .5s;
		}

		&:hover:before, 
		&:focus:before {  // arrow
			opacity: 1;
			left: -.75rem;
		}
	}

	.description {
		margin: 0 0 .75rem 0;

		@include font-color-accent;

		a {
			font-weight: 900;

			@media screen and (prefers-color-scheme: dark) {
				color: darken($dark-mode-font-color, 20%);
			}
		}
	}

	.built-with {
		margin-bottom: .75rem;

		@media (min-width: $tablet-up) {
			padding-top: 1rem;
		}

		@include font-color-accent;

		h4 {
			font-size: .875rem;
			font-weight: normal;

			@media (min-width: $tablet-up) {
				font-size: 1rem;
			}
		}

		a {
			font-weight: 900;
		}

		@media screen and (prefers-color-scheme: dark) {
			a {
				color: darken($dark-mode-font-color, 20%);
			}
		}
	}

	.project-sublist {
		font-size: .875rem;

		@media (min-width: $tablet-up) {
			font-size: 1rem;
		}

		h4 {
			display: inline-block;
			margin-right: .5rem;
			font-weight: 300;
			font-size: .875rem;


			@media (min-width: $tablet-up) {
				font-size: 1rem;
			}
		}

		> li {
			margin-top: .25rem;
			padding-bottom: .35rem;
			border-bottom: 1px solid darken(#eee, 20%);

			@media screen and (prefers-color-scheme: dark) {
				//background-color: darken($dark-mode-bg-color, 5%);
				border-bottom: 1px solid lighten($dark-mode-bg-color, 20%);
			}

			&:last-child {
				border: 0;
			}
		}
	}

	.button-list {
		display: inline-block;

		li {
			display: inline-block;
		}
	}

	.details {
		font-size: .875rem;
		padding-right: 2rem;
		padding-bottom: 1rem;

		@media (min-width: $tablet-up) {
			width: 50%;
			padding: 0;
			font-size: 1rem;
		}
	}

	.details,
	.thumbnails {
		display: inline-block;
		vertical-align: top;
	}

	.thumbnails {
		position: relative;
		width: 300px;
		max-width: 100%;
		margin-bottom: 20px;
		margin-top: 1rem;
		transition: margin .5s;

		@media (min-width: $tablet-up) {
			width: 50%;
			max-width: 440px;
			margin-top: 0;
			padding-left: 2rem;
			align-self: end;
		}
	}

	.nasa-apod-thumbnails {
		margin-bottom: 0;
	}

	.thumbnail {
		max-width: 100%;
	}

	.desktop-thumbnail {
		width: 300px;

		@media (min-width: $tablet-up) {
			width: 100%;
		}
	}

	.mobile-thumbnail {
		position: absolute;
		top: 34%;
		right: 10%;
		width: 26%;

		@media (min-width: $tablet-up) {
			top: 24%;
		}
	}

	.nasa-apod-mobile-thumbnail {
		top: 8.5%;
		right: auto;
		left: -5%;

		@media (min-width: $tablet-up) {
			top: 20%;
			left: 5%;
		}
	}

	.weather-pwa-mobile-thumbnail {
		top: 30%;
		right: auto;
		left: 5%;

		@media (min-width: $tablet-up) {
			top: 24%;
		}
	}
}

.fcc-project {
	display: block;
}
