.title-logo {
	display: inline-block;
	position: relative;
	padding-left: 4rem;
	text-align: left;
	text-decoration: none;

	@include font-color-primary;

	h1 {
		margin: 0;
	}

	a {
		@include font-color-primary;
	}

	.name {
		display: block;
		margin: 0;
		font-size: 2.5rem;
		line-height: 2.5rem;
		font-weight: 300;
		margin-left: -.15rem;
	}	

	.title {
		display: block;
		margin: 0;
		font-size: .875rem;
		line-height: 1rem;
		font-weight: 900;
		text-transform: uppercase;
		letter-spacing: .05rem;
	}

	&:before {
		display: block;
		content: '';
		position: absolute;
		top: .2rem;
		left: 0;
		width: 3.26rem;
		height: 3.26rem;
		border-radius: 50%;
		background-color: $red;
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200"><path d="M84.519,91.9q-8.84-13.134-13.85-20.994-4.972-7.866-7.1-11.77c-1.431-2.607-2.562-4.912-3.406-6.9q-3.028-7.164-.285-13.48,2.713-6.329,10.309-9.54c5.048-2.139,9.735-2.41,14.015-.782q6.465,2.417,9.494,9.583c0.844,1.991,1.7,4.4,2.593,7.235s2.065,7.264,3.526,13.292q2.17,9.044,5.47,24.549,3.255,15.509,8.439,40.992l-5.592,2.374Q93.4,105.022,84.519,91.9Zm22.712,56.771a17.72,17.72,0,0,1,32.762-.257,16.128,16.128,0,0,1,0,13.277,18.6,18.6,0,0,1-23.088,9.8,16.077,16.077,0,0,1-9.554-9.238A17.071,17.071,0,0,1,107.231,148.671Z" style="fill:white;"/></svg>');
		background-size: 100% 100%;
	}

	&:after { // shadow
		display: block;
		content: '';
		position: absolute;
		top: 3.4rem;
		left: .55rem;
		width: 2.5rem;
		height: .2rem;
		border-radius: 50%;
		background-color: #ccc;
		z-index: -1;

		@media screen and (prefers-color-scheme: dark) {
			background-color: #000;
		}
	}
}

@keyframes bounce {
	0% {
		transform: translateY(-200px); // down
		height: 3.26em;
	}
	16% {
		transform: translateY(-50px); // up
		height: 3.26em;
	}
	26% {
		transform: translateY(20px); // down
		height: 2em;
	}
	35% {
  		transform: translateY(-50px); // up
		height: 3.26em;
	}
	43% {
  		transform: translateY(15px); // down
  		height: 2.5em;
	}
	53% {
  		transform: translateY(-20px); // up
		height: 3.26em;
	}
	62% {
		transform: translateY(6px); // down
  		height: 3em;
	}
	70% {
  		transform: translateY(-8px); // up
		height: 3.26em;
	}
	78% {
  		transform: translateY(5px); // down
		height: 3.26em;
	}
	85% {
  		transform: translateY(-3px); // up
		height: 3.26em;
	}
	92% {
		transform: translateY(2px); // down
		height: 3.26em;
	}
	96% {
		transform: translateY(-1px); // up
		height: 3.26em;
	}
	100% {
  		transform: translateY(0); // down
		height: 3.26em;
	}
}

@keyframes bounce-shadow {
	0% {
		width: 0;
		height: 0;
	}
	16% {
		width: 0;
		height: 0;
		left: .95em;
	}
	26% {
		width: 2.5em;
		height: .2em;
		left: .45em;
	}
	35% {
  		width: 0;
		height: 0;
		left: .95em;
	}
	43% {
  		width: 2.5em;
		height: .2em;
		left: .45em;
	}
	53% {
  		width: 1em;
		height: .08em;
		left: .95em;
	}
	62% {
  		width: 2.5em;
		height: .2em;
		left: .45em;
	}
	70% {
  		width: 1em;
		height: .08em;
		left: .95em;
	}
	78% {
  		width: 2.5em;
		height: .2em;
		left: .45em;
	}
	85% {
  		width: 1em;
		height: .08em;
		left: .95em;
	}
	92% {
		width: 2.5em;
		height: .2em;
		left: .45em;
	}
	96% {
		width: 1em;
		height: .08em;
		left: .95em;
	}
	100% {
  		width: 2.5em;
		height: .2em;
	}
}

.bouncy-logo {
	&:before {
		animation: bounce 1s .6s ease-out;
		animation-fill-mode: both;
	}

	&:after { // shadow
		animation: bounce-shadow 1s .6s ease-out;
		animation-fill-mode: both;
	}
}

.nudgable-logo {
	a {
		text-decoration: none;
	}
	
	&:before {
		transition: all .2s;
	}

	&:hover:before {
		left: -0.2rem;
		transform: rotate(-7deg);
	}

	&:after { // shadow
		transition: all .2s;
	}

	&:hover:after {
		left: .2rem;
	}
}
