$red: #ff1212;

$mobile-landscape-down: 767.98px;
$mobile-portrait-down: 575.98px;
$mobile-portrait-up: 576px;
$tablet-up: 768px;
$desktop-up: 992px;

@import 'grid';
@import 'main-nav';
@import 'contact-nav';
@import 'title-logo';
@import 'projects';
@import 'image-modal';
@import 'resume';
@import 'portfolio';

html,
body {
	min-height: 100%;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Lato', Futura, 'Trebuchet MS', Arial, sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.5;
	background-color: #fff;
	background-image: 	linear-gradient(177deg, #ccc 1px, rgba(255, 255, 255, 0) 50px),
						linear-gradient(168deg, rgba(255, 255, 255, 0) 350px, #ccc 450px);
	background-repeat: no-repeat;
}

* {
	box-sizing: border-box;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: .5rem;
	
	box-sizing: border-box;

	@media (min-width: $tablet-up) {
		padding: 0 1rem 1rem;
	}

	@media (min-width: $desktop-up) {
		padding: 0 3rem 3rem;
	}
}

#header {
	order: 1;
	text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 900;
}

h4 {
	font-size: 1rem;
}

h5 {
	font-size: .875rem;
}

h6 {
	font-size: .875rem;
}

.box {
	display: block;
	border-radius: 10px;
	background-color: #eee;
	box-shadow: 0 0 20px #ccc;
	padding: 1rem 1.5rem 1.5rem 1.5rem;
	margin-bottom: .5rem;
	
	@media (min-width: $tablet-up) {
		padding: 2rem;
	}

	&.top {
		background-image: linear-gradient(#fff, #eee);
	}
}

.pill-button {
	background-color: #333;
	color: #ccc;
	text-decoration: none;
	border-radius: 10px;
	padding: 2px 8px;
	text-transform: uppercase;
	font-size: .75rem;
	transition: color, background-color .5s;

	&:hover,
	&:focus {
		background-color: #ccc;
		color: #333;
	}
}

.thumbnail {
	display: block;
	position: relative;
	background-color: #fff;
	border-radius: 2px;
	padding: .25rem;
	box-shadow: 2px 2px rgba(0,0,0,.05);
	//box-shadow: 1px 1px 7px rgba(0,0,0,.5);
	transition: all .5s;
	will-change: box-shadow;

	img,
	a {
		display: block;
		width: 100%;
	}

	&:before {
		display: block;
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		transition: all .5s;
	}

	&:hover,
	&:focus {
		box-shadow: 1px 1px 7px rgba(0,0,0,.5);

		&:before {
			box-shadow: 0 0 10px 2px #fff inset;
		}
	}
}

#footer {
	text-align: center;
	order: 4;

	@media (min-width: $tablet-up) {
		padding: 3rem;
	}

	.copyright {
		font-size: .75rem;
	}
}

.desktop-only {
	display: none;
}

@media (min-width: $mobile-portrait-up) {
	.mobile-only {
		display: none;
	}

	.desktop-only {
		display: block;
	}
}